name: CI for run UI tests and save report to gh-pages.

on:
  push:
  pull_request:

jobs: 
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Use Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Checkout
        uses: actions/checkout@v2.3.1
        
      - name: Install and exec tests
        run: npm ci && npm run test

      - name: Build and Deploy
        if: github.ref == 'refs/heads/master'
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          folder: allure-results
